{% comment %}
{{ 'home-bestsellers.css' | asset_url | stylesheet_tag }}
{% endcomment %}

{% if section.settings.banner_modular %}
  
<div class="banner_modular_image" >
  <h1>We Give You The Best <strong>Price & Value</strong> For Your <strong>IT Needs</strong></h1>
</div>

{% endif %}

{% if section.settings.banner_modular_collection %}

  <h1>We Give You The Worst <strong>Fuck off</strong> For Your <strong>IT Needs</strong></h1>
  
{% endif %}

{% comment %}
<script type="text/javascript">
    jQuery( document ).ready(function() {
        jQuery('.home-bestsellers-list').slick({
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            dots: true,
            arrows: false,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>
{% endcomment %}

{% schema %}
    {
      "name": "ModularBanner",
      "tag": "section",
      "class": "home-banner",
      "limit": 1,
      "settings": [
          {
            "type": "header",
            "content": "Settings"
          },
          {
            "type": "image_picker",
            "id": "banner_modular_image",
            "label": "Banner Modular Image"
          },
          {
            "type": "collection",
            "id": "banner_modular_collection",
            "label": "Banner Modular Collection"
          },
          {
            "type": "text",
            "id": "banner_modular_title",
            "label": "Banner Modular Title"
          }
      ],
      "locales": {
      "en": {
      "title": "Banner Home"
        }
      }
    }
{% endschema %}
