
{{ 'section-banner.css' | asstet_url | sylesheet_tag }}

<div class="section-banner">
    <div class = "section-banner-box">

        Banner
        
    </div>
</div>


{% schema %}
{
    "name": "Banner",
    "presets": [
        {
            "name": "banner"
        }
    ]
}
{% endschema %}