
{{ 'section-banner.css' | asset_url | sylesheet_tag }}

<div class="section-banner">
    <div class = "section-banner-box">
        <img class="banner-background-image"src="{{ 'background.png' | asset_url  }}"/>
       <p class="banner-background"> Banner </p>
    </div>

    <div class = "section-banner-info">
        <img class="banner-banner-info-group" src="{{ 'Group 2.png' | asset_url  }}"/>
        
        <div class="" >
            
        <div class="" >
    </div>

    <div class = "section-banner-info">
        <img class="banner-banner-info-group" src="{{ 'Group 2.png' | asset_url  }}"/>
    </div>
</div>


{% schema %}
{
    "name": "Banner",
    "presets": [
        {
            "name": "banner"
        }
    ]
}
{% endschema %}