
{{ 'section-description.css' | asset_url | stylesheet_tag }}

<ul class="shop-description">
    <li class="shop-description-shipping">
        <img class="shop-description-shipping-image" src="{{ 'Frame-shipping.png' | asset_url  }}"/>
        <span class="shop-description-shipping-title" >FREE SHIPPING</span>
        <span class="shop-description-shipping-text" >Free delivery for all orders</span>

    </li>
    <li class="shop-description-guarantee">
        <img class="shop-description-guarantee-image" src="{{ 'Frame-money.png' | asset_url  }}"/>
        <span class="shop-description-guarantee-title" >MONEY GUARANTEE</span>
        <span class="shop-description-guarantee-text" >90 day money back</span>

    </li>
    <li class="shop-description-support">

        <img class="shop-description-support-image" src="{{ 'Frame-support.png' | asset_url  }}"/>
        <span class="shop-description-support-title" >24/7 LIFETIME</span>
        <span class="shop-description-support-text" >Support at no extra cost</span>

    </li>
</ul>

{% schema %}
{
    "name": "Description",
    "presets": [
        {
            "name": "description"
        }
    ]
}
{% endschema %}