.section-banner-box {
    width:100%;
    height:100%;
    position: relative;
    background-image: url('./SkeepHallowen/SkeepHallowen/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}